@import './scroll.scss';
@import './util.scss';
@import './lara.scss';

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  --scrollbar-width: 0px !important;
}

#__nuxt {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  html,
  body {
    scrollbar-gutter: stable both-edges;
  }
}
